<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="kusoft" content="">

    <title>mukolweke</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <p style="font-size:2em;">Mukolwe <strong>Michael</strong></p>
                        <hr style="width:300px;height:10px;color:white;">
                        <p>Java/Python Programmer</p>
                        <p>I am a tech lover, Network and Software Security enthusiastic</p>
                        <ul class="list-inline banner-social-buttons">
                            <li>
                                <a href="https://twitter.com/mukolweke" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> </a>
                            </li>
                            <li>
                                <a href="https://linkedin.com/mukolwemichael" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> </a>
                            </li>
                            <li>
                                <a href="https://github.com/mukolweke" target="_blank"  class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> </a>
                            </li>
                            <li>
                                <a href="https://mikekuku.wordpress.com" target="_blank"  class="btn btn-default btn-lg"><i class="fa fa-wordpress fa-fw"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--&lt;!&ndash; Footer &ndash;&gt;-->
    <!--<footer>-->
        <!--<div class="container text-center">-->
            <!--<p><a href="#">Copyright &copy; kukuSoft.co.ke 2016</a></p>-->
        <!--</div>-->
    <!--</footer>-->

    <!-- jQuery -->
    <script src="{% static '/jquery/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/grayscale.min.js' %}"></script>

</body>

</html>
